<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dragon.scoreapi.repository.MatchRepository">
    <resultMap id="BaseMap" type="Match">
        <id column="match_id" jdbcType="VARCHAR" property="matchId"/>
        <result column="match_time" jdbcType="VARCHAR" property="matchTime"/>
        <result column="match_title" jdbcType="VARCHAR" property="matchTitle"/>
        <result column="game_type" jdbcType="VARCHAR" property="gameType"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="tournament_id" jdbcType="VARCHAR" property="tournamentId"/>
        <result column="tournament_logo" jdbcType="VARCHAR" property="tournamentLogo"/>
        <result column="tournament_name" jdbcType="VARCHAR" property="tournamentName"/>
        <result column="tournament_name_en" jdbcType="VARCHAR" property="tournamentNameEn"/>
        <result column="tournament_short_name" jdbcType="VARCHAR" property="tournamentShortName"/>
        <result column="view_actual_num" jdbcType="INTEGER" property="viewActualNum"/>
        <result column="view_num" jdbcType="INTEGER" property="viewNum"/>
        <result column="length_time" jdbcType="INTEGER" property="lengthTime"/>
        <result column="is_focus" jdbcType="BOOLEAN" property="isFocus"/>
        <result column="box" jdbcType="INTEGER" property="box"/>
        <result column="box_bum" jdbcType="INTEGER" property="boxBum"/>
        <result column="home_id" jdbcType="VARCHAR" property="homeId"/>
        <result column="home_name" jdbcType="VARCHAR" property="homeName"/>
        <result column="home_short_name" jdbcType="VARCHAR" property="homeShortName"/>
        <result column="home_logo" jdbcType="VARCHAR" property="homeLogo"/>
        <result column="home_live_score" jdbcType="INTEGER" property="homeLiveScore"/>
        <result column="home_score" jdbcType="INTEGER" property="homeScore"/>
        <result column="home_odds" jdbcType="VARCHAR" property="homeOdds"/>
        <result column="home_rang_fen" jdbcType="VARCHAR" property="homeRangFen"/>
        <result column="home_trend" jdbcType="VARCHAR" property="homeTrend"/>
        <result column="away_id" jdbcType="VARCHAR" property="awayId"/>
        <result column="away_name" jdbcType="VARCHAR" property="awayName"/>
        <result column="away_short_name" jdbcType="VARCHAR" property="awayShortName"/>
        <result column="away_logo" jdbcType="VARCHAR" property="awayLogo"/>
        <result column="away_live_score" jdbcType="INTEGER" property="awayLiveScore"/>
        <result column="away_score" jdbcType="INTEGER" property="awayScore"/>
        <result column="away_odds" jdbcType="VARCHAR" property="awayOdds"/>
        <result column="away_rang_fen" jdbcType="VARCHAR" property="awayRangFen"/>
        <result column="away_trend" jdbcType="VARCHAR" property="awayTrend"/>
    </resultMap>
    <select id="findAll" resultMap="BaseMap">
        select match_id, game_type from `match`
    </select>
    <select id="findList" resultMap="BaseMap">
        select
            m.match_id,
            m.match_time,
            m.status,
            m.box,
            m.box_bum,
            m.tournament_id,
            m.home_id,
            m.away_id,
            tou.tournament_logo as tournament_logo,
            tou.tournament_name as tournament_name,
            tou.game_type as game_t,
            home.full_name as home_name,
            home.short_name as home_short_name,
            home.logo as home_logo,
            away.full_name as away_name,
            away.short_name as away_short_name,
            away.logo as away_logo
        from `match` m
        left join `tournament` tou on tou.tournament_id = m.tournament_id
        left join `team` home on home.id = m.home_id
        left join `team` away on away.id = m.away_id
        where m.game_type in
        <foreach collection="gameTypes" item="gameType" index="index" open="(" close=")" separator=",">
            #{gameType}
        </foreach>
        <if test="gameStatus != null">
            and m.status = #{gameStatus}
        </if>
        <if test="date != null">
            and date(m.match_time) = date(#{date})
        </if>
    </select>
    <select id="isExist" resultType="Integer">
        select 1 from `match` where match_id = #{matchId} limit 1
    </select>
    <insert id="insert" parameterType="Match" keyColumn="match_id" keyProperty="matchId">
        insert into `match` (
            match_id,
            match_time,
            match_title,
            game_type,
            status,
            tournament_id,
            view_actual_num,
            view_num,
            length_time,
            is_focus,
            box,
            box_bum,
            home_id,
            away_id
        ) values (
            #{matchId},
            #{matchTime},
            #{matchTitle},
            #{gameType},
            #{status},
            #{tournamentId},
            #{viewActualNum},
            #{viewNum},
            #{lengthTime},
            #{isFocus},
            #{box},
            #{boxBum},
            #{homeId},
            #{awayId}
        )
    </insert>
    <update id="update" parameterType="Match">
        update `match`
        <set>
            <if test="matchTime != null">
                match_time = #{matchTime},
            </if>
            <if test="matchTitle != null">
                match_title = #{matchTitle},
            </if>
            <if test="gameType != null">
                game_type = #{gameType},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="tournamentId != null">
                tournament_id = #{tournamentId},
            </if>
            <if test="viewActualNum != null">
                view_actual_num = #{viewActualNum},
            </if>
            <if test="viewNum != null">
                view_num = #{viewNum},
            </if>
            <if test="lengthTime != null">
                length_time = #{lengthTime},
            </if>
            <if test="isFocus != null">
                is_focus = #{isFocus},
            </if>
            <if test="box != null">
                box = #{box},
            </if>
            <if test="boxBum != null">
                box_bum = #{boxBum},
            </if>
            <if test="homeId != null">
                home_id = #{homeId},
            </if>
            <if test="awayId != null">
                away_id = #{awayId},
            </if>
        </set>
        where match_id = #{matchId}
    </update>
</mapper>