<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dragon.scoreapi.repository.SysPermissionRepository">
    <resultMap id="BaseMap" type="SysPermission">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="pid" jdbcType="INTEGER" property="pid"/>
        <result column="per_name" jdbcType="VARCHAR" property="perName"/>
        <result column="per_type" jdbcType="VARCHAR" property="perType"/>
        <result column="permission" jdbcType="VARCHAR" property="permission"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="sort" jdbcType="INTEGER" property="sort"/>
        <collection property="children" javaType="ArrayList" column="id" select="findPermissionByPid"
                    ofType="SysPermission"/>
    </resultMap>
    <select id="findAll" resultMap="BaseMap">
        select * from sys_permission
    </select>
    <select id="findList" resultMap="BaseMap">
        select * from sys_permission
        where 1=1
        <if test="perName != null">
            and per_name like '%' #{perName} '%'
        </if>
        <if test="perType != null">
            and per_type = #{perType}
        </if>
        order by id desc
        limit #{pageStart}, #{pageSize}
    </select>
    <select id="total" resultType="Long">
        select count(1) from sys_permission
        where 1=1
        <if test="perName != null">
            and per_name like '%' #{perName} '%'
        </if>
        <if test="perType != null">
            and per_type = #{perType}
        </if>
    </select>
    <select id="findById" resultMap="BaseMap">
        select * from sys_permission where id = #{id}
    </select>
    <insert id="insert" parameterType="SysPermission" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into sys_permission (
        pid,
        per_name,
        per_type,
        permission,
        url,
        sort
        ) values (
        #{pid},
        #{perName},
        #{perType},
        #{permission},
        #{url},
        #{sort}
        )
    </insert>
    <update id="update" parameterType="com.dragon.scoreapi.model.SysUser">
        update sys_permission
        <set>
            <if test="pid != null">
                pid = #{pid},
            </if>
            <if test="perName != null">
                per_name = #{perName},
            </if>
            <if test="perType != null">
                per_type = #{perType},
            </if>
            <if test="permission != null">
                permission = #{permission},
            </if>
            <if test="url != null">
                url = #{url},
            </if>
            <if test="sort != null">
                sort = #{sort},
            </if>
        </set>
        where id = #{id}
    </update>
    <delete id="del" parameterType="Integer">
        delete from sys_permission where id = #{id}
    </delete>
    <select id="findPermissionByUserId" parameterType="Integer" resultType="String">
        select distinct sp.permission from sys_permission sp
        inner join sys_role_permission srp on sp.id = srp.permission_id
        inner join sys_user_role sur on sur.role_id = srp.role_id
        where sur.user_id = #{userId}
    </select>
    <select id="findPermissionByPid" parameterType="Integer" resultMap="BaseMap">
        select * from sys_permission where pid = #{pid} order by sort asc
    </select>
</mapper>