<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dragon.scoreapi.repository.TeamRepository">
    <resultMap id="BaseMap" type="Team">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="version" jdbcType="INTEGER" property="version"/>
        <result column="game_type" jdbcType="VARCHAR" property="gameType"/>
        <result column="deleted" jdbcType="BOOLEAN" property="deleted"/>
        <result column="full_name" jdbcType="VARCHAR" property="fullName"/>
        <result column="short_name" jdbcType="VARCHAR" property="shortName"/>
        <result column="name_zh" jdbcType="VARCHAR" property="nameZh"/>
        <result column="name_en" jdbcType="VARCHAR" property="nameEn"/>
        <result column="abbr_zh" jdbcType="VARCHAR" property="abbrZh"/>
        <result column="abbr_en" jdbcType="VARCHAR" property="abbrEn"/>
        <result column="logo" jdbcType="VARCHAR" property="logo"/>
        <result column="logo2" jdbcType="VARCHAR" property="logo2"/>
        <result column="source_type" jdbcType="INTEGER" property="sourceType"/>
        <result column="country_id" jdbcType="INTEGER" property="countryId"/>
        <result column="region_id" jdbcType="INTEGER" property="regionId"/>
        <result column="region_name" jdbcType="VARCHAR" property="regionName"/>
        <result column="total_earnings" jdbcType="VARCHAR" property="totalEarnings"/>
        <result column="country_name_zh" jdbcType="VARCHAR" property="countryNameZh"/>
        <result column="country_name_en" jdbcType="VARCHAR" property="countryNameEn"/>
        <result column="country_logo" jdbcType="VARCHAR" property="countryLogo"/>
        <result column="country_logo2" jdbcType="VARCHAR" property="countryLogo2"/>
        <result column="score" jdbcType="INTEGER" property="score"/>
        <result column="ranking" jdbcType="INTEGER" property="ranking"/>
        <result column="region_ranking" jdbcType="INTEGER" property="regionRanking"/>
        <result column="world_ranking" jdbcType="INTEGER" property="worldRanking"/>
        <result column="created_time" jdbcType="VARCHAR" property="createdTime"/>
        <result column="updated_time" jdbcType="VARCHAR" property="updatedTime"/>
        <collection property="players" ofType="Player">
            <id column="player_id" jdbcType="VARCHAR" property="id"/>
            <result column="player_name" jdbcType="VARCHAR" property="fullName"/>
            <result column="player_logo" jdbcType="VARCHAR" property="logo"/>
            <result column="player_logo2" jdbcType="VARCHAR" property="logo2"/>
            <result column="player_position_name" jdbcType="VARCHAR" property="positionName"/>
        </collection>
        <collection property="matches" ofType="Match">
            <id column="match_id" jdbcType="VARCHAR" property="matchId"/>
            <result column="match_time" jdbcType="VARCHAR" property="matchTime"/>
            <result column="match_title" jdbcType="VARCHAR" property="matchTitle"/>
            <result column="match_status" jdbcType="VARCHAR" property="status"/>
            <result column="match_box" jdbcType="VARCHAR" property="box"/>
            <result column="match_box_bum" jdbcType="VARCHAR" property="boxBum"/>
            <association property="home" column="home_id" select="findTeamByTeamId"/>
            <association property="away" column="away_id" select="findTeamByTeamId"/>
        </collection>
    </resultMap>
    <resultMap id="TeamResultMap" type="Team">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="full_name" jdbcType="VARCHAR" property="fullName"/>
        <result column="short_name" jdbcType="VARCHAR" property="shortName"/>
        <result column="logo" jdbcType="VARCHAR" property="logo"/>
        <result column="logo2" jdbcType="VARCHAR" property="logo2"/>
        <result column="score" jdbcType="INTEGER" property="score"/>
    </resultMap>
    <select id="findAll" resultMap="BaseMap">
        select id, game_type from `team`
    </select>
    <select id="findList" resultMap="BaseMap">
        select id, full_name, logo, logo2  from `team`
        where game_type = #{gameType}
    </select>
    <select id="isExist" resultType="Integer">
        select 1 from `team` where id = #{id} limit 1
    </select>
    <select id="findById" resultMap="BaseMap">
        select
            t.*,
            p.id as player_id,
            p.full_name as player_name,
            p.logo as player_logo,
            p.logo2 as player_logo2,
            p.position_name as player_position_name,
            m.match_id as match_id,
            m.match_time as match_time,
            m.match_title as match_title,
            m.status as match_status,
            m.box as match_box,
            m.box_bum as match_box_bum,
            m.home_id as home_id,
            m.away_id as away_id
        from `team` t
        left join `player` p on p.team_id = t.id
        left join `match` m on m.home_id = t.id or m.away_id = t.id
        where t.id = #{id}
    </select>
    <select id="findTeamByTeamId" resultMap="TeamResultMap">
        select
            id, full_name, short_name, logo, logo2, score
        from `team` where id = #{teamId}
    </select>
    <insert id="insert" parameterType="Team" keyColumn="id" keyProperty="id">
        insert into `team` (
            id,
            version,
            game_type,
            deleted,
            full_name,
            short_name,
            name_zh,
            name_en,
            abbr_zh,
            abbr_en,
            logo,
            logo2,
            source_type,
            country_id,
            region_id,
            region_name,
            total_earnings,
            country_name_zh,
            country_name_en,
            country_logo,
            country_logo2,
            score,
            ranking,
            region_ranking,
            world_ranking,
            created_time,
            updated_time
        ) values (
            #{id},
            #{version},
            #{gameType},
            #{deleted},
            #{fullName},
            #{shortName},
            #{nameZh},
            #{nameEn},
            #{abbrZh},
            #{abbrEn},
            #{logo},
            #{logo2},
            #{sourceType},
            #{countryId},
            #{regionId},
            #{regionName},
            #{totalEarnings},
            #{countryNameZh},
            #{countryNameEn},
            #{countryLogo},
            #{countryLogo2},
            #{score},
            #{ranking},
            #{regionRanking},
            #{worldRanking},
            #{createdTime},
            #{updatedTime}
        )
    </insert>
    <update id="update" parameterType="Team">
        update `team`
        <set>
            <if test="version != null">
                version = #{version},
            </if>
            <if test="gameType != null">
                game_type = #{gameType},
            </if>
            <if test="deleted != null">
                deleted = #{deleted},
            </if>
            <if test="fullName != null">
                full_name = #{fullName},
            </if>
            <if test="shortName != null">
                short_name = #{shortName},
            </if>
            <if test="nameZh != null">
                name_zh = #{nameZh},
            </if>
            <if test="nameEn != null">
                name_en = #{nameEn},
            </if>
            <if test="abbrZh != null">
                abbr_zh = #{abbrZh},
            </if>
            <if test="abbrEn != null">
                abbr_en = #{abbrEn},
            </if>
            <if test="logo != null">
                logo = #{logo},
            </if>
            <if test="logo2 != null">
                logo2 = #{logo2},
            </if>
            <if test="sourceType != null">
                source_type = #{sourceType},
            </if>
            <if test="countryId != null">
                country_id = #{countryId},
            </if>
            <if test="regionId != null">
                region_id = #{regionId},
            </if>
            <if test="regionName != null">
                region_name = #{regionName},
            </if>
            <if test="totalEarnings != null">
                total_earnings = #{totalEarnings},
            </if>
            <if test="countryNameZh != null">
                country_name_zh = #{countryNameZh},
            </if>
            <if test="countryNameEn != null">
                country_name_en = #{countryNameEn},
            </if>
            <if test="countryLogo != null">
                country_logo = #{countryLogo},
            </if>
            <if test="countryLogo2 != null">
                country_logo2 = #{countryLogo2},
            </if>
            <if test="score != null">
                score = #{score},
            </if>
            <if test="ranking != null">
                ranking = #{ranking},
            </if>
            <if test="regionRanking != null">
                region_ranking = #{regionRanking},
            </if>
            <if test="worldRanking != null">
                world_ranking = #{worldRanking},
            </if>
            <if test="createdTime != null">
                created_time = #{createdTime},
            </if>
            <if test="updatedTime != null">
                updated_time = #{updatedTime},
            </if>
        </set>
        where id = #{id}
    </update>
</mapper>