<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="SysRole" type="com.dragon.scoreapi.model.SysRole"/>
        <typeAlias alias="SysUser" type="com.dragon.scoreapi.model.SysUser"/>
        <typeAlias alias="SysPermission" type="com.dragon.scoreapi.model.SysPermission"/>
        <typeAlias alias="Member" type="com.dragon.scoreapi.model.Member"/>
        <typeAlias alias="Match" type="com.dragon.scoreapi.model.Match"/>
        <typeAlias alias="CsgoTeamStats" type="com.dragon.scoreapi.model.CsgoTeamStats"/>
        <typeAlias alias="DotaTeamStats" type="com.dragon.scoreapi.model.DotaTeamStats"/>
    </typeAliases>
</configuration>